.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: rem(24px) 0;
    min-height: rem(650px);

    &--centered {
        justify-content: center;
        flex: 1;
      }
}

.hero {
    background: url(../img/welcome-page.jfif) center bottom no-repeat;
    background-size: cover;
    background-color: $blue;
    color: #fff;

    @include tablets {
        background: url(../img/welcome-768.png) center top rem(91px) no-repeat;
        background-color: $blue;

    }

    @include phones {
        background-size: cover;
        background-color: $blue;
        background-position: top rem(91px) center;
    }
}

.title {
    font-size: rem(48px);
    font-weight: 700;
    margin-bottom: rem(60px);
    text-align: center;
    text-transform: uppercase;
    color: $black;

    @include phones {
        font-size: rem(40px);
        padding-top: 10%;
    }
}

.subtitle {
    padding: 0 26%;
    text-align: center;
  
    @include phones {
      padding: 0 4%;
    }
  }



.product-section {
    background: #F8FAF9;
}

.map-secion {
    position: relative;
}