@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666;
}

.wrapper {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.maincontent {
  height: 100%;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

.img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url(../img/welcome-page.jfif) center bottom no-repeat;
  background-size: cover;
  background-color: #292929;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .hero {
    background: url(../img/welcome-768.png) center top 5.0555555556rem no-repeat;
    background-color: #1968B1;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-size: cover;
    background-color: #1968B1;
    background-position: top 91px center;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3888888889rem 0 3.3333333333rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    text-align: center;
  }
}

.hero__title-section {
  width: 45%;
  margin-left: 5%;
  line-height: 0.9;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 95%;
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    padding-bottom: 20%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-section {
    width: 100%;
    padding-bottom: 25%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__main-title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 1.7777777778rem;
    line-height: 1;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  font-weight: 400;
  margin: 1.9444444444rem 0;
  padding-bottom: 0.8333333333rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo__img {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .logo__img {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
}
@media screen and (max-width: 480px) {
  .logo__img {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.menu {
  margin-right: 50px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(4%);
          transform: translateX(4%);
}
@media screen and (max-width: 768px) {
  .menu__list {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.menu__item {
  margin-right: 1.3888888889rem;
  margin-bottom: 0.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .menu__item {
    margin-right: 0;
    font-size: 2rem;
    margin-bottom: 1.1111111111rem;
  }
}

.menu--vertical__item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu--vertical__item:after {
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 10px;
}
.menu--vertical__item:last-child {
  margin-bottom: 0;
}
.menu--vertical__item:last-child:after {
  display: none;
}
.menu--vertical__link:hover {
  opacity: 0.7;
}

.phone-number.header__phone-number {
  -webkit-transform: translateX(-18%);
          transform: translateX(-18%);
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number {
  font-size: 1.2222222222rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 0.7222222222rem;
  height: 0.7777777778rem;
  margin-right: 0.3333333333rem;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.burger {
  position: fixed;
  top: 1.6666666667rem;
  right: 1000%;
  height: 25px;
  width: 40px;
  cursor: pointer;
  z-index: 15;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.burger__line {
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.burger__line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
  top: initial;
}
@media screen and (max-width: 768px) {
  .burger {
    right: 5%;
  }
}

.content {
  background-color: black;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content__title {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
}

.burger--active .burger__line:nth-child(1) {
  opacity: 0;
}
.burger--active .burger__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger--active .burger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-8px) translateX(5px);
          transform: rotate(-45deg) translateY(-8px) translateX(5px);
}

.adventages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adventage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5%;
}

.adventage__icon {
  width: 1.9444444444rem;
  margin-right: 0.7777777778rem;
}

.adventage__text {
  padding: 0 2%;
  font-size: 0.8888888889rem;
  min-width: 5rem;
}

.button {
  font-size: 0.8888888889rem;
  font-weight: 700;
  padding: 1.1666666667rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  background: #FEDB3F;
  color: #000000;
  text-decoration: none;
  border: none;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.button:hover {
  background: #FFD517;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.button--color--transparent {
  background: transparent;
  color: #fff;
}
.button--color--transparent:hover {
  color: #292929;
  background-color: #FEDB3F;
}

.shop-button {
  width: 8.6666666667rem;
  height: 3.3333333333rem;
}

.section {
  height: 100%;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .section {
    height: 100%;
  }
}
@media screen and (max-width: 480px) {
  .section {
    height: 100%;
  }
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.2222222222rem;
    padding-top: 10%;
  }
}

.product-section {
  background: #F8FAF9;
}

.map-section {
  background: url(../img/map.png) center top no-repeat;
  background-size: cover;
  position: relative;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    margin-bottom: 0;
  }
}

.headline__subtitle {
  margin-bottom: 2.5rem;
  padding: 0 25%;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0 20%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 8%;
  }
}

.benefits {
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
}
.benefits__item::before {
  content: url(../img/Combined-shape.png);
  position: absolute;
  top: 3.3333333333rem;
  right: 0;
  -webkit-transform: translate(50%);
          transform: translate(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item::before {
    display: none;
    padding: 0;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.2222222222rem;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    margin-bottom: 0;
  }
}

.benefit__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 0.5555555556rem;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .benefit__desc {
    text-align: left;
    padding-left: 1.1111111111rem;
  }
}

.product__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .product__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 8%;
}
.product__col::before {
  background: url(/surfboard1/img/surfboard-background.svg);
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .product__col {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .product__img {
    scale: 75%;
  }
}

.product__title {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2.7777777778rem;
}

.product__description {
  padding-right: 1.3888888889rem;
  margin: 0;
}
.product__description:last-child {
  padding-right: 0;
}
@media screen and (max-width: 768px) {
  .product__description {
    text-align: center;
    padding: 0;
  }
}

.product__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.col--tags {
  margin-right: 3.1111111111rem;
}
.col--tags:last-child {
  margin-right: 0;
}
.board__options {
  font-weight: 700;
}

.product_-price {
  font-size: 26px;
  margin-left: 20px;
  margin: 0;
}

.product__options {
  width: 5rem;
  height: 5rem;
  border-radius: 6px;
  background: url(/surfboard1/img/menu-item.svg) center center no-repeat;
  background-color: #3A587E;
  text-align: center;
  position: relative;
  display: inline-block;
}
.product__options:hover .dropdown__menu {
  left: 90px;
  display: block;
  background: #d5d5d5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (max-width: 768px) {
  .product__options {
    display: none;
  }
}

.dropdown__link {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .dropdown__link {
    display: none;
  }
}

.dropdown__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  left: 2000px;
  background: #d1d1d1;
  border-radius: 5px;
  min-width: 15rem;
  border: 1px solid transparent;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 1;
}

.dropdown__item {
  color: #000;
  font-size: 0.8888888889rem;
}

.product-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-left {
  margin-left: 3%;
}

.arrow-right {
  margin-right: 3%;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.5rem 2.5rem;
  margin-bottom: 0.8888888889rem;
}

.reviews__list {
  position: relative;
  min-height: 15.5555555556rem;
}

.reviews__item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  opacity: 0;
  left: -555.5rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.reviews__item:nth-child(1) {
  position: relative;
  opacity: 1;
  left: initial;
}
.reviews__item--active {
  opacity: 1;
  pointer-events: unset;
  left: initial;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.reviews__avatar {
  width: 14.6666666667rem;
  height: 14.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    margin-left: 5%;
    width: 7.2222222222rem;
    height: 7.2222222222rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.2222222222rem;
}
@media screen and (max-width: 480px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.2222222222rem;
}

.reviews__text {
  margin-bottom: 2rem;
}

.reviews__author {
  font-weight: 700;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .reviews__switcher {
    margin-left: 5%;
  }
}

.reviews__switcher-item {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.reviews__switcher-item:hover {
  border-color: #FEDB3F;
}
.reviews__switcher-item--active {
  border-color: #FEDB3F;
}

.reviews-switcher__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background: url(../img/form-background.jfif) center bottom no-repeat;
  background-size: cover;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .order-section {
    padding: 20% 0;
  }
}

.order__title {
  color: #fff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  padding: 0 5%;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0 1%;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.3888888889rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: solid 0.1666666667rem transparent;
  padding: 1rem 0.6666666667rem;
}
.form__input--textarea {
  height: 8.3333333333rem;
  resize: none;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.5555555556rem 0.5555555556rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 0 0.8333333333rem;
  margin-bottom: 1.1111111111rem;
}
.radio:last-child {
  margin-bottom: 2.2222222222rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url(../img/tick.png) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  position: relative;
  border-radius: 50%;
  margin-right: 0.4444444444rem;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  border-radius: 50%;
  background: #FEDB3F;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer {
  position: absolute;
  background: #fff;
  bottom: 0px;
  left: 0rem;
  max-height: 5.2222222222rem;
}
@media screen and (max-width: 768px) {
  .footer {
    min-height: 5.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    min-height: 8.3333333333rem;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__link {
  margin-right: 14px;
}

svg {
  width: 24px;
  height: 24px;
}

.fixed-menu {
  position: fixed;
  top: 25%;
  right: 4%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.overlay--active {
  left: 0;
  opacity: 1;
}

.body--active-menu {
  overflow: hidden;
}