@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html, body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transform;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .container {
    height: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

.img {
  display: block;
  max-width: 100%;
}

.hero__container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0 5%;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
}

.hero__main-title {
  font-size: 3.3333333333rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0.2222222222rem;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    font-size: 2.6666666667rem;
  }
}

.hero__subtitle {
  font-size: 21px;
  margin-bottom: 26px;
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    padding: 0 18%;
  }
}

.hero__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 33px;
}
.hero__icon-item:last-child {
  margin-right: 0;
}

.hero__icon-pic {
  fill: #fff;
  margin-right: 6px;
}

.hero__icon-elem {
  width: 50px;
  height: 40px;
  display: block;
}

.hero__icon-text {
  max-width: 85px;
  line-height: 1.2;
  font-size: 16px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .header__btns {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .logo__img {
    margin-left: 2.7777777778rem;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 49px;
}
.menu--vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-size: 36px;
  margin-right: 0;
}
.menu--vertical .menu__item {
  margin-right: 0;
}

.menu__item {
  margin-right: 26px;
  margin-bottom: 18px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__item-link {
  text-decoration: none;
}

.phone-number.header__phone-number {
  -webkit-transform: translateX(-18%);
          transform: translateX(-18%);
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.phone-number {
  font-size: 1.2222222222rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 0.7222222222rem;
  height: 0.7777777778rem;
  margin-right: 0.3333333333rem;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.burger {
  opacity: 0;
  position: fixed;
  top: 1.1111111111rem;
  right: 10%;
  height: 1.3888888889rem;
  width: 2.2222222222rem;
  cursor: pointer;
  z-index: 15;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.burger__line {
  width: 100%;
  height: 0.1111111111rem;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.burger__line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
  top: initial;
}
@media screen and (max-width: 768px) {
  .burger {
    opacity: 1;
    margin-top: 0.5555555556rem;
  }
}

.burger--active .burger__line:nth-child(1) {
  opacity: 0;
}
.burger--active .burger__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger--active .burger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-8px) translateX(5px);
          transform: rotate(-45deg) translateY(-8px) translateX(5px);
}

.button {
  font-size: 0.8888888889rem;
  font-weight: 700;
  padding: 1.1666666667rem 2.2777777778rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  background: #FEDB3F;
  color: #000000;
  text-decoration: none;
  border: none;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.button:hover {
  background: #FFD517;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}
.button--color--transparent {
  background: transparent;
  color: #fff;
}
.button--color--transparent:hover {
  color: #292929;
  background-color: #FEDB3F;
}

.shop-button {
  width: 8.6666666667rem;
  height: 3.3333333333rem;
  margin-right: 2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .shop-button {
    margin-right: 0;
    margin-left: 1.6666666667rem;
  }
}

.section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.3333333333rem 0;
  min-height: 36.1111111111rem;
}
.section--centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero {
  background: url(../img/welcome-page.jfif) center bottom no-repeat;
  background-size: cover;
  background-color: #1968B1;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .hero {
    background: url(../img/welcome-768.png) center top 5.0555555556rem no-repeat;
    background-color: #1968B1;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    background-size: cover;
    background-color: #1968B1;
    background-position: top 5.0555555556rem center;
  }
}

.title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  margin-bottom: 3.3333333333rem;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 2.2222222222rem;
    padding-top: 10%;
  }
}

.subtitle {
  padding: 0 26%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .subtitle {
    padding: 0 4%;
  }
}

.product-section {
  background: #F8FAF9;
}

.map-secion {
  position: relative;
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    margin-bottom: 0;
  }
}

.headline__subtitle {
  margin-bottom: 2.5rem;
  padding: 0 25%;
}
@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0 20%;
  }
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 8%;
  }
}

.why-section {
  position: relative;
}
@media screen and (max-width: 768px) {
  .why-section {
    padding: 20% 0;
  }
}

.why__title {
  margin-bottom: 48px;
}

.why__title-text {
  margin-bottom: 0;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.benefits__item {
  text-align: center;
  position: relative;
  padding: 0 3%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .benefits__item {
    padding: 0;
    width: 100%;
    max-width: 50%;
    margin-bottom: 27px;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .benefits__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: initial;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child:before {
  display: none;
}
.benefits__item:before {
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  width: 67px;
  height: 21px;
  background: imgPath("../img/Combined-shape.png") center center no-repeat;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}

.benefits__image {
  margin-bottom: 22px;
}
@media screen and (max-width: 480px) {
  .benefits__image {
    margin-right: 15px;
    margin-bottom: 0;
  }
}

.benefits__icon-wrapper {
  overflow: hidden;
  width: 126px;
  height: 126px;
  background: #f2f5f4;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.benefits__icon {
  margin-top: 24px;
}

.benefits__title {
  font-size: 27px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .benefits__content {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .benefit__desc {
    padding: 0 5%;
  }
}

.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .products__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.products__options {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .products__options {
    display: none;
  }
}

.products__item {
  padding-left: 65px;
}
@media screen and (max-width: 768px) {
  .products__item {
    padding-left: 0;
  }
}

.products__col {
  width: 50%;
  margin-right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .products__col {
    width: 80%;
    margin-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 60px;
    text-align: center;
  }
  .products__col:last-child {
    margin-bottom: 0;
  }
}
.products__col:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .products__image {
    height: 16.6666666667rem;
  }
}

.products__image-elem {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.products__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.1111111111rem;
  color: #0d0d0d;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .products__title {
    padding: 0 10%;
  }
}
@media screen and (max-width: 480px) {
  .products__title {
    padding: 0;
  }
}

.products__text {
  margin-bottom: 1.2777777778rem;
  padding-right: 2.2222222222rem;
}

.products__values-row {
  margin-bottom: 0.6666666667rem;
}
.products__values-row:last-child {
  margin-bottom: 0;
}

.products__values-block:first-child {
  padding-right: 1.6666666667rem;
}

.products__values-amount {
  font-weight: bold;
  color: #333333;
}

.products__values-rub {
  color: #0d0d0d;
  font-size: 3.3333333333rem;
}

.products__values-rub-sign {
  font-size: 2.1111111111rem;
}

.products-menu-section {
  background: imgPath("../img/menu-item.svg") center center/cover no-repeat;
  position: relative;
  color: #fff;
}
.products-menu-section:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.products-slider {
  position: relative;
}
.products-slider .bx-wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
}
.products-slider .bx-prev {
  display: none;
}
.products-slider .bx-next {
  display: none;
}

.products-slider__btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
}
.products-slider__btn--next {
  right: 0;
}
.products-slider__btn--prev {
  left: 0;
}

.options {
  position: relative;
  display: inline-block;
}

.options__button {
  width: 5rem;
  height: 5rem;
  background: #1968B1;
  border-radius: 0.2777777778rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.options__button-icon {
  margin-bottom: 0.3333333333rem;
}

.options__button-icon-elem {
  fill: currentColor;
  width: 2.8333333333rem;
  height: 2.8333333333rem;
  display: block;
}

.options__button-text {
  text-transform: uppercase;
  font-size: 0.7777777778rem;
  font-weight: 700;
}

.options:hover .options__dropdown {
  left: 100%;
  opacity: 1;
}

.options__dropdown {
  color: #2f3234;
  position: absolute;
  left: -9999px;
  top: 0;
  width: 15rem;
  background: #d5d5d5;
  border-radius: 5px;
  padding: 1.4444444444rem 0.6666666667rem 1.4444444444rem 1.9444444444rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}
.options__dropdown:after {
  content: "";
  position: absolute;
  top: 0;
  height: 50%;
  width: 1.6666666667rem;
  left: -1.6111111111rem;
}

.options__table {
  width: 100%;
}

.options__icon {
  width: 1.9444444444rem;
  height: 1.9444444444rem;
}

.options__table-row {
  border-bottom: 0.2777777778rem solid transparent;
}
.options__table-row:last-child {
  border-bottom: 0;
}

.options__text-container {
  padding-left: 0.5555555556rem;
}

.options__table-cell {
  vertical-align: middle;
}

.options__text {
  font-size: 0.8888888889rem;
  font-weight: bold;
}

.dropdown__link {
  font-weight: 700;
  font-size: 0.7777777778rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  left: 0.2777777778rem;
  bottom: 0.5555555556rem;
}
@media screen and (max-width: 768px) {
  .dropdown__link {
    display: none;
  }
}

.dropdown__menu {
  position: relative;
  left: 9000px;
  background: #d1d1d1;
  border-radius: 5px;
  min-width: 15rem;
  border: 1px solid transparent;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 1;
}

.dropdown__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #000;
  font-size: 0.8888888889rem;
}

.item-column {
  padding: 0 5px;
  text-align: center;
}

.product-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-left {
  margin-left: 3%;
}

.arrow-right {
  margin-right: 3%;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  text-align: center;
  margin-right: 1.1111111111rem;
  max-width: 12.2222222222rem;
}
.team__item.active .team__title:after {
  content: "";
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.team__member {
  height: 16rem;
  margin-bottom: 1.1111111111rem;
}

.team__member-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__title {
  background-color: inherit;
  border: inherit;
  color: #000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1666666667rem;
  font-weight: 700;
  margin-bottom: 1.1111111111rem;
}
.team__title:after {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 4px;
  border-left-width: 4px;
  border-top: 6px solid black;
  border-bottom: 0;
  display: block;
  margin-left: 5px;
}

.team__content {
  position: absolute;
  top: 100%;
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
}

.team__occ {
  color: #292929;
  font-weight: 400;
}

.products-menu-section {
  background: url(../img/acco-bg-active.jfif) center center/cover no-repeat;
  position: relative;
  color: #fff;
}
.products-menu-section:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products-menu__item.active .products-menu__content {
  display: block;
  max-width: 29.5555555556rem;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.products-menu__image {
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-menu__title {
  position: relative;
  width: 5.5555555556rem;
}
.products-menu__title:after {
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
}

.title.products-menu-section__title {
  position: absolute;
  top: 5rem;
  left: 4.4444444444rem;
  color: #fff;
}

.products-menu__text {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  white-space: nowrap;
  line-height: 1;
  font-size: 2.6666666667rem;
  font-weight: bold;
}

.products-menu__content {
  background: rgba(47, 50, 52, 0.9);
  padding: 2.2222222222rem 4.0555555556rem 2.5rem 1.4444444444rem;
  display: none;
  position: relative;
}

.products-menu__close {
  position: absolute;
  top: 1.1111111111rem;
  right: 1.3888888889rem;
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.5rem 2.5rem;
  margin-bottom: 0.8888888889rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
}

.reviews__list {
  position: relative;
  min-height: 15.5555555556rem;
}

.reviews__item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  opacity: 0;
  left: -555.5rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.reviews__item.active {
  position: static;
  opacity: 1;
  pointer-events: unset;
  left: initial;
  position: relative;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.reviews__avatar {
  width: 14.6666666667rem;
  height: 14.1111111111rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    margin-left: 5%;
    width: 7.2222222222rem;
    height: 7.2222222222rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.2222222222rem;
}
@media screen and (max-width: 480px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.2222222222rem;
}

.reviews__text {
  margin-bottom: 2rem;
}

.reviews__author {
  font-weight: 700;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__switcher-item {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.reviews__switcher-item:hover {
  border-color: #FEDB3F;
}
.reviews__switcher-item.active {
  border-color: #FEDB3F;
}

.reviews-switcher__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background: url(../img/form-background.jfif) center bottom no-repeat;
  background-size: cover;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .order-section {
    padding: 10% 0;
  }
}

.order__title {
  color: #fff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  padding: 0 5%;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 15%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0 1%;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.3888888889rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.1111111111rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: solid 0.1666666667rem transparent;
  padding: 1rem 0.6666666667rem;
}
.form__input--textarea {
  height: 8.3333333333rem;
  resize: none;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.5555555556rem 0.5555555556rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 0 0.8333333333rem;
  margin-bottom: 1.1111111111rem;
}
.radio:last-child {
  margin-bottom: 2.2222222222rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible:before {
  background: url(../img/tick.png) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  position: relative;
  border-radius: 50%;
  margin-right: 0.4444444444rem;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  border-radius: 50%;
  background: #FEDB3F;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.player-section {
  background: #F8FAF9;
}

.player-section__container {
  max-width: 36.6666666667rem;
  height: 22.5rem;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .player-section__container {
    width: 564px;
    height: 364px;
  }
}

.player {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.player.hidden {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.player__splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/player-splash.png") center center/cover no-repeat;
  cursor: pointer;
}
.player__splash:before {
  content: url("../img/play-button.png");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.player__wrapper {
  height: 100%;
}
.player__wrapper.active .player__splash {
  display: none;
}

.player__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.9444444444rem;
  background: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3%;
}

.player__start {
  width: 0;
  height: 0;
  border: 0.6111111111rem solid transparent;
  border-left-color: #FEDB3F;
  padding: 0;
  border-right-width: 0;
  background: transparent;
  outline: none;
  position: relative;
}
.player__start.paused {
  width: 0.7777777778rem;
  height: 1.2222222222rem;
  border: none;
}
.player__start.paused:after, .player__start.paused:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.2777777778rem;
  top: 0;
  bottom: 0;
  background: #FEDB3F;
}
.player__start.paused:after {
  right: 0;
}
.player__start.paused:before {
  left: 0;
}

.player__playback {
  height: 0.8888888889rem;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0.8333333333rem;
}
.player__playback:before {
  content: "";
  height: 0.2222222222rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  background: #626262;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.player__playback-button {
  background: #FEDB3F;
  border-radius: 2.7777777778rem;
  border: none;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 0;
}

.player__duration {
  color: #FEDB3F;
  font-weight: bold;
}

.player__elem {
  width: 100%;
  height: 100%;
}

.sound {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sound-off {
  width: 0.6666666667rem;
  height: 0.8888888889rem;
}

.Sound__level {
  height: 4px;
  width: 60px;
}

.volume__duration {
  padding-left: 10px;
}

.map-section {
  position: relative;
}

.map {
  width: 100%;
  height: 100%;
}

.footer {
  position: absolute;
  background: #fff;
  bottom: 0rem;
  left: 0rem;
  max-height: 5.2222222222rem;
}
@media screen and (max-width: 768px) {
  .footer {
    min-height: 5.7777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    min-height: 8.3333333333rem;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__link {
  margin-right: 14px;
}

svg {
  width: 24px;
  height: 24px;
}

.modal {
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}

.modal__container {
  background: #fff;
  padding: 1.9444444444rem 3.3333333333rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-error {
  border-color: hotpink;
}

.modal__content {
  margin-bottom: 0.8333333333rem;
  color: #000;
}

.fixed-menu {
  position: fixed;
  top: 25%;
  right: 4%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #fff;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link:before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content {
  background-color: black;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content__title {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.menu--vertical__item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu--vertical__item:after {
  content: "";
  display: inline-block;
  height: 5px;
  width: 5px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 10px;
}
.menu--vertical__item:last-child {
  margin-bottom: 0;
}
.menu--vertical__item:last-child:after {
  display: none;
}
.menu--vertical__link:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .menu--vertical {
    display: block;
  }
}

.overlay--active {
  left: 0;
  opacity: 1;
}

.body--active-menu {
  overflow: hidden;
}