body {
    background: #17191C;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-weight: normal;
}

p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

.main-page {
    background: url("../img/hero.png") center top no-repeat, url("../img/bottom-pic.png") center bottom 110px no-repeat
}

.main-page__content {
    margin-bottom: 55px;
}

.page-content {
    background: #fff;
    color: #303030;
    padding: 94px 0;
}


.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 565px;
    margin-bottom: 230px;
}