.contacts__dropdown-title {
    position: relative;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    font-style: normal;
    color: #FF3D00;
}

.contacts__dropdown-title:hover .dropdown__menu {
    left: initial;
    right: 0;
    opacity: 1;
}

.dropdown__link {
    display: block;
    line-height: 1;
    margin-top: -2px;
}

.dropdown__menu {
    position: absolute;
    background: #d1d1d1;
    border: 1px solid transparent;
    top: calc(100% + 8px);
    left: -9999px;
    padding: 10px 19px 15px 15px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity .3s;
}

.dropdown__menu::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    right: 47px;
    top: -9px;
    background-color: #d1d1d1;
    transform: rotate(45deg);
}

.dropdown__menu::after {
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    top: -15px;
}

.dropdown__list {
    text-align: left;
}

.dropdown__item {
    font-size: 13px;
    color: #1E1F20;
}
.dropdown__item-bold {
    font-weight: 700;
}
