.header {
    padding-top: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__menu {
    padding-top: 11px;
    margin-left: 4px;
}

.header__contacts {
    padding-top: 10px;
}


