.preview {
    text-align: center;
}

.preview__title {
    width: 80%;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-transform: uppercase;
    margin: 0 auto 17px;
}

.preview__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 45px;
}
