.top-line {
    min-height: 416px;
    background: url("../img/top-line.png") center top no-repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 27.5px;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.top-line__header {
    margin-bottom: 32px;
}
