header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;

    .header__column-left {
        min-height: 39px;
        min-width: 55px;
    }

    .header__column-center {

    }

    .header__column-right {

    }

    .menu__list {
        display: inline-flex;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        color: #fff;

    }

    .menu__item {
        margin-right: 17px;
    }
.contacts {
font-size: 22px;
font-weight: 700;
line-height: 18px;


}

}
