header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 25px;
}
header .header__column-left {
  min-height: 39px;
  min-width: 55px;
}
header .menu__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}
header .menu__item {
  margin-right: 17px;
}
header .contacts {
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
}