.burger{
  opacity: 0;
  position: fixed; 
  top: rem(20px);
  right: 10%;
  height: rem(25px);
  width: rem(40px);
  cursor:pointer;
  z-index: 15;
  transition: all .4s;
  
  &__line{
    width: 100%;
    height: rem(2px);
    position: absolute;
    background-color: #fff;
    top:0;
    left: 0;
    transition: all .4s;

    
    &:nth-child(2){
      top:50%;
      transform:translateY(-50%);
    }
    
    &:nth-child(3){
      bottom:0;
      top:initial;
    }
  }

  @include tablets {
    opacity: 1;
  }
}
  
.burger--active{
    .burger__line{
      &:nth-child(1){
        opacity:0;
      }
      
      &:nth-child(2){
        transform:rotate(45deg);
      }
      
      &:nth-child(3){
        transform:rotate(-45deg) translateY(-8px) translateX(5px);
      }
    }
}