.button {
    font-size: rem(16px);
    font-weight: 700;
    padding: rem(21px) rem(41px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    background: $yellow;
    color: #000000;
    text-decoration: none;
    border: none;
    transition: background-color .3s, border-color .3s, color .3s;

    &:hover {
        background: #FFD517;
        transition: background-color .3s, border-color .3s, color .3s;
    }

    &--color--transparent {
        background: transparent;
        color: #fff;
    
        &:hover {
            color: $black;
            background-color: $yellow;
        }
    }
}

