.footer {
    position: absolute;
    background: #fff;
    bottom: rem(0px);
    left: rem(0px);
    max-height: rem(94px);

    @include tablets {
        min-height: rem(104px);
    }

    @include phones {
        min-height: rem(150px);
    }
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-around;

    
}

