.footer {
    position: absolute;
    background: #fff;
    bottom: (0px);
    left: rem(0px);
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

