.hamburger {
    position: fixed;
    top: rem(20px);
    right: rem(20px);
    display: none;
    width: 26px;
    height: 20px;
    margin: 2% 2%;
    flex-direction: column;
    justify-content: space-between;
    display: none;

    @include tablets {
        display: inline-flex;
    }

    @include phones {
        transform: translateX(40%);
    }
}

.hamburger__plank {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 10px;
}