.header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include tablets {
        justify-content: space-between;
    }
}

.logo__img {
    transform: translateX(50%);
}









