.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: rem(10px);
}

.headline__subtitle {
    margin-bottom: rem(45px);
    padding: 0 25%;

    @include tablets {
        padding: 0 20%;
    }
}