.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(25px) 0 rem(60px);

    @include tablets {
        text-align: center;
    }
}

.hero__title-section {
    width: 45%;
    margin-left: 5%;
    line-height: 0.9;

    @include tablets {
        width: 95%;
        margin-left: 0;
    }

    @include tablets {
        padding-bottom: 20%;
    }

    @include phones {
        width: 100%;
        padding-bottom: 25%;
    }

}

.hero__icons-section {
    @include tablets {
        display: none;
    }
}

.hero__main-title {
    font-size: rem(48px);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: rem(15px);
    text-transform: uppercase;

    @include phones {
        font-size: rem(32px);
        line-height: 1;
    }
}

.hero__title-desc {
    font-size: rem(21px);
    font-weight: 400;
    margin: rem(40px) 0;
    padding-bottom: rem(20px);
}
