.menu {
    margin-right: 50px;
    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: translateX(4%);
}

.menu__link {
    text-decoration: none;
    white-space: nowrap;
}

.menu__item {
    margin-right: rem(25px);
    margin-bottom: rem(10px);

    &:last-child {
        margin-right: 0;
    }
}