.overlay {
    height: 100%;
    width: 100%;
    background: #333537;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s;

    position: fixed;
    top: 0;
    left: 100%;
    opacity: 0;
    z-index: 10;
}

.overlay--active {
    left: 0;
    opacity: 1;
}