.product__container {
    position: relative;
    display: flex;
}

.product__col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 8%;

    &::before {
        background: url(/surfboard1/img/surfboard-background.svg);
        overflow: hidden;
    }
}

.product__title {
    font-size: rem(36px);
    font-weight: 700;
}

.product__description {
    padding-right:  25px;
}

.product__tags {
    display: inline-flex;
    flex-wrap: nowrap;
}

.product__col--tags {
    margin-right: rem(56px);

    &:last-child {
        margin-right: 0;
    }
}

.board__options {
    font-weight: 700;
}