.product__container {
    position: relative;
    display: flex;

    @include tablets {
        flex-direction: column;
        height: 100%;
    }
}

.product__col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 8%;

    &::before {
        background: url(/surfboard1/img/surfboard-background.svg);
        overflow: hidden;
    }

    @include tablets {
        margin: 0;
        align-items: center;
        flex-wrap: wrap;
    }
    
}

.product__img {
    @include tablets {
        scale: 75%;
    }
}

.product__title {
    font-size: rem(18px);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: rem(50px);
}

.product__description {
    padding-right:  rem(25px);
    margin: 0;

    &:last-child {
        padding-right: 0;
    }

    @include tablets {
        text-align: center;
        padding: 0;
    }

}

.product__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    @include tablets {
        margin-right: 25px;
    }

}

.product__col--tags {
    margin-right: rem(56px);

    &:last-child {
        margin-right: 0;
    }


}

.board__options {
    font-weight: 700;
    
}

.product_-price {
    font-size: 26px;
    margin-left: 20px;
    margin: 0;
}

.product__options {
    background: url(/surfboard1/img/menu-item.svg) center center no-repeat;
    background-color: $blue;
    width: rem(90px);
    height: rem(90px);
    border-radius: 6px;

    @include tablets {
        display: none;
    }
}