.section {
    height: 100%;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    @include tablets {
        height: 100%;
    }

    @include phones {
        height: 100%;
    }
}

.hero-section {
    background: url(../img/welcome-page.jfif) center bottom no-repeat;
    background-size: cover;
    background-color: $blue;
    color: #fff;

    @include tablets {
        background: url(../img/welcome-768.png) center top rem(91px) no-repeat;
        background-color: $blue;
    }

    @include phones {
        background-size: cover;
        background-color: $blue;
        background-position: top 91px center;
    }
}

.section__title {
    font-size: rem(48px);
    font-weight: 700;
    margin-bottom: rem(60px);
    text-align: center;
    text-transform: uppercase;
    color: $black;

    @include phones {
        font-size: rem(40px);
        padding-top: 10%;
    }
}



.product-section {
    background: #F8FAF9;
}
